<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
     {{>headerlinks}}

    </head>
    <body>
                        <!------------Nav-Bar-------->
      
         {{>navbar}}


           <!--------------Main Header--------------->
           <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!----Left side div----->
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Hey, My name is Mohammad Suhail!!i am practising writing code </p>
                            <h2>I am a<span class="txt_clr"> Learner</span> Check me out on instagram by clicking the button below</h2>
                            <a href="https://www.instagram.com/suhail_zack/?hl=en"><button class="bot">click me</button></a>
                         </div>
                        <!----Right side div---->
                        <div class="col-md-6 col-12 main_header_right">
                            <figure>
                                <img src="images/about.png">
                            </figure>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------Footer Code------->
        
         {{>footer}}

    </body>
</html>