<div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!----Left side div----->
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Hey, My name is Mohammad Sukkil!!i am a liar Mate</p>
                            <h2>I am an<span class="txt_clr"> Actor</span> Check me out on instagram by clicking the button below</h2>
                            <a href="https://www.instagram.com/chrishemsworth/?hl=en"><button>click me</button></a>
                         </div>
                        <!----Right side div---->
                        <div class="col-md-6 col-12 main_header_right">
                            <figure>
                                <img src="images/about.png">
                            </figure>

                        </div>
                    </div>
                </div>
            </div>
        </div>