<!DOCTYPE html>
<html lang="en">
    <head>

    {{>headerlinks}}

    </head>
    <body>
                        <!------------Nav-Bar-------->
       
                
                {{>navbar}}
            

           <!--------------Main Header--------------->
           <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">

                    <div class="main_content">
                        <form class="temp_form">
                            <input type="text" id="cityname" placeholder="Enter tour city name" autocomplete="off">
                            <input type="submit" value="search" id="submitBtn">

                        </form>
                    </div>

                    <div class="tempinfo">
                       <div class="top_layer">
                           <p id="day">Tuesday</p>
                           <p id="today_data">7 Jan</p>
                       </div>

                       <div class="main_layer">
                        <p id="cityname">get output</p>
                        <div class="mid_layer data_hide">
                           <p id="temp"><span id="temp_real_val">0</span>°C</p>
                          <p id="temp_status"><i class="fas fa-cloud"></i></p>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------Footer Code------->
        
         {{>footer}}

        <script src="C:\Users\Mohammad Suhail\Expressn\expressweb\public\js\main.js"></script>
    
        <script>
           const getCurrentDay = () =>{
               let weekday = new Array(7);
               weekday[0] = "Sunday";
               weekday[1] = "Monday";
               weekday[2] = "Tueday";
               weekday[3] = "Wedday";
               weekday[4] = "Thursday";
               weekday[5] = "Friday";
               weekday[6] = "Satday";
               let currentTime = new Date();
               let days =weekday[currentTime.getDay()];
               let day = document.getElementById('day');
               day.innerText = days;
           }; 
           getCurrentDay();
       </script>

    </body>
</html>